<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <TextView
        android:text="Alarm Title"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/AlarmFiringLabel"
        android:gravity="center" />
    <ImageView
        android:src="@drawable/AlarmIcon"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/AlarmFiringImage"
        android:layout_weight="8"
        android:scaleType="centerInside" />
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="end"
        android:layout_gravity="end">
        <Button
            android:text="Snooze"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:id="@+id/AlarmFiringSnoozeButton"
            android:layout_weight="1" />
        <Button
            android:text="Ok"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:id="@+id/AlarmFiringOkButton"
            android:layout_weight="1" />
    </LinearLayout>
</LinearLayout>